html(lang='zh-CN')
  //- URL地址基础部分
  -var baseUrl = 'http://localhost'
  head
    title #{title}
    meta(charset="utf-8")
    link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

  body

    //- 导航条
    nav(role="navigation").navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
            span.sr-only Toggle navigation
            span.icon-bar
              img(alt="Brand", src="#{baseUrl}/images/index.png")
            span.icon-bar
            span.icon-bar
          //- a(href="#").navbar-brand
          //-   img(alt="Brand", src="#{baseUrl}/images/index.png")
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav
            li: a(href="#{baseUrl}") Home
            li: a(href="#{baseUrl}/products") 用户
          form(role="search").navbar-form.navbar-right
            .form-group
              input(type="text", placeholder="Search").form-control
            button(type="submit").btn.btn-default 提交
          ul.nav.navbar-nav.navbar-left
            li.dropdown
              a.dropdown-toggle(href="#{baseUrl}/products", data-toggle="dropdown",role="button", aria-expanded="false")
                | 商品管理
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href="#{baseUrl}/products?page=1") 商品列表
                li: a(href="#") Another action
                li: a(href="#") Something else here
                li: a(href="#") Separated link
    block content

  block foot

    script(type="application/javascript", src="#{baseUrl}/javascripts/jquery.min.js")
    script(type="application/javascript", src="#{baseUrl}/javascripts/bootstrap.min.js")
    script(type="application/javascript", src="#{baseUrl}/javascripts/app.js")
    script(type="application/javascript", src="#{baseUrl}/javascripts/angular.min.js")

